<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
<nav id="navbar" class="navbar">
    <ul>
        <li><a class="active" href="{% url 'home' %}">Головна</a></li>
        <li><a href="{% url 'city_list' %}">Міста</a></li>
        <li><a href="{% url 'city_list' %}">Поїзди</a></li>
        <li><a href="{% url 'home' %}">Знайти маршрут</a></li>
        <li><a href="{% url 'home' %}">Збережені маршрути</a></li>
        <li><a href="about.html">Про нас</a></li>
        <li><a href="contact.html">Контакти</a></li>
    </ul>
</nav>